<!doctype html>
<html ng-app ng-csp lang="en">

<head>
    <meta charset="UTF-8">
    <title>Markdown转PDF工具</title>
    <script src="../js/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <script type="text/javascript" src="../js/jquery-2.0.3.min.js"></script>
    <script src="../js/main.js"></script>
    <style>
    html, body {
        font-family:"Microsoft Yahei" !important;
    }
    .tool {
        width:100%;
        text-align: center;
        margin:1em 0;
        border-bottom: 1ps solid #ddd;
    }
    #file {
        display:none;
    }
    </style>
</head>

<body ng-controller="mainCtrl">
    <div class="tool">
        <button class="btn btn-primary" id="convert" data-loading-text="转换中..." data-choose-text="选择文件并转换" ng-click="convert()">选择文件并转换</button>
        <input type="file" id="file" multiple name="file" onchange="angular.element(this).scope().fileNameChaged(this)" accept=".md" />
    </div>
    <ul class="list-group">
        <li class="list-group-item messageItem" ng-repeat="path in paths">
            转换完成：{{path}}
            <input type="button" class="btn-success pull-right" ng-click="open(path)" value="打开" />
        </li>
    </ul>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</body>

</html>
